[flake8]
max-line-length =
    88
    #  complatible with black
extend-ignore =
    E203
    # whitespace before :
    E266
    # multiple ##
    E731
    # allow lambda expressions
    E501
    # line too long. I ingore this, because typically black takes care of this.
    # And if not, there's typically a reason and I would write noqa anyway...
    E402
    # Module level import not at top of file
    W503
    # also for black compatibility
exclude =
    .git,
    __pycache__,
    .eggs,
    *.egg-info,
